body{
background-color: rgb(194, 188, 247);
}
h1{
background-color: rgb(226, 226, 204);
color: black;
}
th{
    background-color: rgb(166, 219, 226);
    color: black;
}
td{
    background-color: rgb(217, 192, 231);
    color: black;
}
i{
    color: black;
}
